#container{

    text-align: center;
    margin: auto;
    margin-top: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: white;
}
body{
    background-color: black;
}
#hour,#minute,#second{
font-size: 25px;

}